import React from 'react';
import { I{{pascalCase name}}PropTypes } from './{{pascalCase name}}PropTypes';

const {{pascalCase name}}: React.FC<I{{pascalCase name}}PropTypes> = ({}) => {
  return <div>{{pascalCase name}}</div>;
};

export default {{pascalCase name}};
